beautifulsoup4==4.9.3
ExifRead==2.3.2
feedgenerator==1.9.1
fontawesome-markdown==0.2.6
html5lib==1.1
imageio==2.9.0
imagesize==1.2.0
Jinja2==2.11.2
jsonschema==3.2.0
Markdown==3.3.3
MarkupSafe==1.1.1
pelican==4.5.3
pelicanfly==0.4.4
Pygments==2.6.1
pylint==2.6.0
python-dateutil==2.8.1
pytz==2020.5
PyYAML==5.3.1
singledispatch==3.4.0.3
unicodecsv==0.14.1
Unidecode==1.1.2
