beautifulsoup4==4.6.0
ExifRead==2.1.2
feedgenerator==1.9
fontawesome-markdown==0.2.6
html5lib==0.999999999
imageio==2.2.0
imagesize==0.7.1
Jinja2==2.10.1
jsonschema==2.6.0
Markdown==2.6.11
MarkupSafe==1.0
pelican==3.7.1
pelicanfly==0.4.4
Pygments==2.2.0
pylint==1.7.4
python-dateutil==2.6.1
pytz==2017.2
PyYAML==5.4
singledispatch==3.4.0.3
unicodecsv==0.14.1
Unidecode==1.0.22
