/* Colors */

@media (prefers-color-scheme: light) {
    :root {
        --sidebar-bg: rgba(24, 31, 50, 1);
        --sidebar-link: rgba(191, 192, 192, 1);
        --tagcloud-bg: rgba(191, 192, 192, 0.1);
        --tagcloud-bg-hover: rgba(191, 192, 192, 1);
        --tagcloud-link: rgba(191, 192, 192, 1);
        --tagcloud-link-hover: rgba(24, 31, 50, 1);

        --article-fg: rgb(41, 45, 61);
        --article-bg: rgba(228, 228, 228, 1);
        --article-link: rgba(24, 31, 50, 1);
        --article-button-bg: rgba(24, 31, 50, 1);
        --article-tag-bg: rgba(239, 131, 84, 1);
        --article-tag-bg-hover: rgba(252, 163, 17, 1);

        --nav-link-fg: rgba(24, 31, 50, 1);
        --nav-link-fg-hover: rgba(79, 93, 117, 1);

        --code-bg: rgba(191, 192, 192, 1);
        --code-bold: rgba(24, 31, 50, 1);
        --code-bright: rgba(0, 0, 0, 1);
        --code-faded: rgba(24, 31, 50, 0.85);
        --code-highlight: rgb(5, 57, 139);
        --code-constants: rgb(189, 79, 32);
        --code-border: rgba(24, 31, 50, 1);
        --code-comment: rgba(48, 48, 48, 0.65);
        --code-blockcomment: rgba(24, 31, 50, 0.75);

        --sc-email-bg-color: #578AD6;
        --sc-facebook-bg-color: #3e5b98;
        --sc-github-bg-color: #111010;
        --sc-google-bg-color: #d93e2d;
        --sc-linkedin-bg-color: #3371b7;
        --sc-pinterest-bg-color: #c92619;
        --sc-reddit-bg-color: #ff4500;
        --sc-rss-bg-color: #da5807;
        --sc-square-rss-bg-color: #da5807;
        --sc-soundcloud-bg-color: #ff5500;
        --sc-stack-overflow-bg-color: #ff9900;
        --sc-twitter-bg-color: #4da7de;
        --sc-youtube-bg-color: #e02a20;
        --sc-mastodon-bg-color: #595aff;
        --sc-keybase-bg-color: #b31e00;

    }
}
@media (prefers-color-scheme: dark) {
    :root {
        --sidebar-bg: rgba(24, 31, 50, 1);
        --sidebar-link: rgba(191, 192, 192, 1);
        --tagcloud-bg: rgba(191, 192, 192, 0.1);
        --tagcloud-bg-hover: rgba(191, 192, 192, 1);
        --tagcloud-link: rgba(191, 192, 192, 1);
        --tagcloud-link-hover: rgba(24, 31, 50, 1);

        --article-bg: rgb(41, 45, 61);
        --article-fg: rgba(191, 192, 192, 1);
        --article-link: rgba(191, 192, 192, 1);
        --article-button-bg: rgba(24, 31, 50, 1);
        --article-tag-bg: rgba(239, 131, 84, 1);
        --article-tag-bg-hover: rgba(252, 163, 17, 1);

        --nav-link-fg: rgba(239, 131, 84, 1);
        --nav-link-fg-hover: rgba(252, 163, 17, 1);

        --code-bg: rgba(24, 31, 50, 1);
        --code-bold: rgba(255, 255, 255, 1);
        --code-bright: rgb(223, 224, 224);
        --code-faded: rgba(191, 192, 192, 0.85);
        --code-highlight: rgba(239, 131, 84, 1);
        --code-constants: rgb(235, 223, 56);
        --code-border: rgba(24, 31, 50, 1);
        --code-comment: rgba(141, 188, 138, 0.75);
        --code-blockcomment: rgba(191, 192, 192, .75);
        --code-nd: rgba(95, 167, 248, 0.878);

        --sc-email-bg-color: #578AD6;
        --sc-facebook-bg-color: #3e5b98;
        --sc-github-bg-color: #111010;
        --sc-google-bg-color: #d93e2d;
        --sc-linkedin-bg-color: #3371b7;
        --sc-pinterest-bg-color: #c92619;
        --sc-reddit-bg-color: #ff4500;
        --sc-rss-bg-color: #da5807;
        --sc-square-rss-bg-color: #da5807;
        --sc-soundcloud-bg-color: #ff5500;
        --sc-stack-overflow-bg-color: #ff9900;
        --sc-twitter-bg-color: #4da7de;
        --sc-youtube-bg-color: #e02a20;
        --sc-mastodon-bg-color: #595aff;
        --sc-keybase-bg-color: #b31e00;

    }
}

body, main, article {
    background-color: var(--article-bg);
    color: var(--article-fg);
}
article p {
    line-height: 1.55em;
}
aside.leftbar, div.leftbar {
    background-color: var(--sidebar-bg) !important;
}
aside.leftbar a {
    color: var(--sidebar-link);
}
a {
    color: var(--article-link);
}
a:hover {
    -webkit-transform: none !important;
    transform: none !important;
}

a.btn {
    background-color: var(--article-button-bg);
    text-decoration: none;
}

article a {
    color: var(--article-link);
    text-decoration: underline;
}
article .tag-cloud a {
    text-decoration: none;
    background-color: var(--article-tag-bg);
}
article .tag-cloud a:hover {
    background-color: var(--article-tag-bg-hover);
}

/* a:not( [href*='yourdomain.com'] ):not( [href^='#'] ):not( [href^='/'] ) */
article a[target="_blank"]:after {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 0.15em;
    vertical-align: middle;
    font-size: 70%;
    content: "\f08e";
}

h2 { font-size: 1.75em; font-variant: small-caps; }
h3 { font-size: 1.55em; font-variant: small-caps; }
h4 { font-size: 1.45em; font-variant: small-caps; }
h5 { font-size: 1.35em; font-variant: small-caps; }

header h2 { font-size: 2.0em; font-variant: inherit; }
header h2 a { text-decoration: none; }

aside a {
    text-transform: none;
    font-size: 80%;
}

main nav {
    text-align: left;
    padding-left: 2.0em;
}
main nav a {
    color: var(--nav-link-fg);
}
main nav a:hover {
    color: var(--nav-link-fg-hover);
}

.tagcloud {
    background-color: var(--tagcloud-bg);
    padding: 15px 0 15px 0;
    border-radius: 5px;
    margin-top: 0;
}
.tagcloud li {
    list-style: none;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.tagcloud li:first {
    padding-left: 0;
}
.tagcloud li a {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.tagcloud li:first a {
    padding-left: 0;
}
.tagcloud li a:hover {
    background-color: var(--tagcloud-bg-hover);
    color: var(--tagcloud-link-hover);
}

.imgcaption {
    font-size: 80%;
    font-style: italic;
    color: #aaa;
}

/* Social icons in left bar */
aside div ul.social, ul.social {
    padding-top: none !important;
}
ul.social a {
    display: inline-grid;
    height: 28px;
    width: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-size: 76%;
    }
ul.social a i {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 76%;
}
.svg-inline--fa path {
    position: relative;
    left: 0.4rem;
    top: 0.3rem;

}
ul.social .sc-mastodon {
    background-color: var(--sc-mastodon-bg-color);
}
ul.social .sc-github {
    background-color: var(--sc-github-bg-color);
}
ul.social .sc-linkedin {
    background-color: var(--sc-linkedin-bg-color);
}
ul.social .sc-keybase {
    background-color: var(--sc-keybase-bg-color);
}
ul.social .sc-square-rss, ul.social .sc-rss {
    background-color: var(--sc-rss-bg-color);
}


/* code formatting */
main article table td, main article table th {
    border: none;
}
.highlight, code {
    background-color: var(--code-bg);
}
code, .k, .kc, .kd, .kn, .kr, .nc, .o, .ow, .se, .n {color: var(--code-bright);}
.err, .nb, .nf, .nl, .nt, .s1, .s2, .si {color: var(--code-highlight);}
.m, .mh, .mi, .nv, .s { color: var(--code-constants);}
.sd {color: var(--code-blockcomment);}
.nn, .nd { color: var(--code-nd);}
.bp { color: var(--code-faded); }
.c1, .cp { color: var(--code-comment); }

main article code {
    background-color: var(--code-bg);
    color: var(--code-bright);
    border-color: var(--code-border);
    border: none;
    white-space: pre;
}

main article pre code {
    background-color: var(--code-bg);
    color: var(--code-bright);
    border-color: var(--code-border);
    border: none;
    white-space: pre;
    font-size: 100%;
    line-height: 1.65em;
}

/* code { white-space: pre } */

.err {
    background-color: transparent;
}
.highlighttable {
    width: 100%;
    border-spacing: 0;
}
.linenos {
    width: 2.0em;
    padding: 8px 0 8px 0;
}
.linenodiv span.normal {
    font-size: 100%;
    line-height: 1.65em;
}
.linenodiv, .highlight {
    padding: 0;
}
.highlight pre {
    border: none;
}
/* end code formatting */

/* color classes for font-awesome icons */
.blue { color: #3e5b98; }
.red { color: #c92619; }
.darkblue { color: #030E36; }

/* Other */
article ul li {
    padding-bottom: 0.6em;
}

article th {
    text-align: left;
}

.rotate180 {
    transform: rotate(180deg);
}