// Colors
aside.leftbar, div.leftbar {
    background-color: #030E36 !important;
}
a {
    color: #030E36;
}
a:hover {
    color: #033626;
}
a.btn {
    background-color: #030E36;
    text-decoration: none;
}
a.btn:hover {
    background-color: #033626;
    color: #fff;
}

article a {
    color: #2c5894;
    text-decoration: underline;
}
article .tag-cloud a {
    text-decoration: none;
    background-color: #ff4500;
}
article .tag-cloud a:hover {
    color: black;
    background-color: #ff5500;
}

/* a:not( [href*='yourdomain.com'] ):not( [href^='#'] ):not( [href^='/'] ) */
article a[target="_blank"]:after {
    font-family: FontAwesome;
    display: inline-block;
    padding-left: 0.15em;
    vertical-align: middle;
    font-size: 70%;
    content: "\f08e";
}

h2 { font-size: 1.75em; font-variant: small-caps; }
h3 { font-size: 1.55em; font-variant: small-caps; }
h4 { font-size: 1.45em; font-variant: small-caps; }
h5 { font-size: 1.35em; font-variant: small-caps; }

header h2 { font-size: 2.0em; font-variant: inherit; }
header h2 a { text-decoration: none; }

aside a {
    text-transform: none;
    font-size: 80%;
}

main nav {
    text-align: left;
    padding-left: 2.0em;
}

.tagcloud {
    background-color: #ffffff11;
    padding: 15px 0 15px 0;
    border-radius: 5px;
    margin-top: 0;
}
.tagcloud li {
    list-style: none;
    display: inline-block;
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.tagcloud li:first {
    padding-left: 0;
}
.tagcloud li a {
    padding-left: 0.2em;
    padding-right: 0.2em;
}
.tagcloud li:first a {
    padding-left: 0;
}
.tagcloud li a:hover {
    background-color: white;
    color: #030E36;
}

.imgcaption {
    font-size: 66%;
    font-style: italic;
    color: #aaa;
}

// Social icons in left bar
ul.social a {
    display: inline-grid;
    height: 28px;
    width: 28px;
    line-height: 28px;
    vertical-align: middle;
    font-size: 72%
}
ul.social a i {
    height: 28px;
    width: 28px;
    line-height: 28px;
    font-size: 72%
}
ul.social a.sc-github {
    background-color: #333;
}
/* code formatting */
main article table td, main article table th {
    border: none;
}
.highlight {
    background-color: #eee;
}
.err {
    background-color: transparent;
}
.highlighttable {
    width: 100%;
    border-spacing: 0;
}
.linenos {
    width: 2.0em;
    padding: 8px 0 8px 0;
}
.linenodiv, .highlight {
    padding: 0;
}
.highlight pre {
    border: none;
}
/* end code formatting */

/* color classes for font-awesome icons */
.blue { color: #3e5b98; }
.red { color: #c92619; }
.darkblue { color: #030E36; }

/* Other */
article ul li {
    padding-bottom: 0.6em;
}
