{% extends "base.html" %} {% block title %} &ndash; {{ _('Categories') }}{%
endblock %} {% block content %}
<article class="single">
  <header>
    <h1>{{ _('Categories') }}</h1>
  </header>
  <div>
    <ul class="list">
      {% for category, articles in categories|sort %}
      <li>
        <a href="{{ SITEURL }}/{{ category.url }}">{{ category }}</a> ({{
        articles|count }})
        <ul>
          {% for subcategory, articles in subcategories %}
          <li>
            <a href="{{ SITEURL }}/{{ subcategory.url }}"
              >{{ subcategory.shortname }}</a
            >
          </li>
          {% endfor %}
        </ul>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
