{% extends "base.html" %} {% block title %} &ndash; {{ _('Tags') }}{% endblock
%} {% block content %}
<article class="single">
  <header>
    <h1>{{ _('Tags') }}</h1>
  </header>
  <div>
    <ul class="tagcloud">
      {% for tag in tag_cloud %}
      <li class="tag-{{ tag.1 }}">
        <a href="{{ SITEURL }}/{{ tag.0.url }}">
          {{ tag.0 }} {% if TAG_CLOUD_BADGE %}
          <span class="badge">{{ tag.2 }}</span>
          {% endif %}
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</article>
{% endblock %}
